<%= form_for(@father) do |f| %>
  <% if @father.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@father.errors.count, "error") %> prohibited this father from being saved:</h2>

      <ul>
      <% @father.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Название цветка' %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label 'Стоимость цветка' %><br />
    <%= f.text_field :surname %>
  </div>

    <div class="field">
    <%= f.label 'Количество цветов' %><br />
    <%= f.number_field :job %>

  <div class="field">
    <%= f.label 'Стоимость букета' %><br />
    <%= f.number_field :age %>
  </div>
  <div class="actions">
    <%= f.submit 'Создать букет' %>
  </div>
<% end %>
