 <%= stylesheet_link_tag "style" %>

<table class = "table table-bordered">
  <tr>
    <th>Название цветка</th>
    <th>Стоимость цветка</th>
    <th>Количество цветов</th>
    <th>Стоимость букета</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fathers.each do |father| %>
  <tr>
    <td><%= father.name %></td> <%#Название цветка%>
    <td><%= father.surname %></td> <%#Стоимость одной штуки%>
    <td><%= father.job %></td> <%#Количество цветов%>
    <td id = "sum_<%= father.id %>"><%= father.sum %></td> <%#Стоимость букета%>

<td><button class= "btn btn-success" id="b1_<%= father.id %>" type="button">Суд букетов</button>
      <script>
        document.getElementById('b1_<%= father.id %>').onclick = function() {
          if ($("#sum_<%= father.id %>").html() > 100) {
          alert("Good buket")
          } else {
          alert("Bad buket")
          }
        }
      </script>

   <td><%= link_to 'Show', father, :class => "btn btn-primary" %></td>
    <td><%= link_to 'Edit', edit_father_path(father), :class => "btn btn-info" %></td>
    <td><%= link_to 'Destroy', father, method: :delete, data: { confirm: 'Are you sure?' }, 
    :class => "btn btn-danger" %></td>
    <td>


    </td>
  </tr>
<% end %>
</table>

<br />