 <div class ="margin_left">
 <%= stylesheet_link_tag "style" %>
<%= stylesheet_link_tag "bouquet.css" %>
<p id="notice"><%= notice %></p>
<h2>Букет</h2>
<p>
  <b>Название цветка:</b>
  <%= @father.name %>
</p>

<p>
  <b>Стоимость одного цветка:</b>
  <%= @father.surname %>
</p>

<p>
  <b>Количество цветов:</b>
  <%= @father.job %>
</p>

<p>
  <b>Стоимость букета:</b>
  <%=@father.sum %>
</p>
<%= link_to 'Edit', edit_father_path(@father),  :class => "btn btn-info" %> 
<%= link_to 'Back', fathers_path, :class=> "btn btn-success" %>
</div>