<p id="notice"><%= notice %></p>
<h2>Букет</h2>
<p>
  <b>Название цветка:</b>
  <%= @father.name %>
</p>

<p>
  <b>Стоимость одного цветка:</b>
  <%= @father.surname %>
</p>

<p>
  <b>Количество цветов:</b>
  <%= @father.job %>
</p>

<p>
  <b>Стоимость букета:</b>
  <%= @father.age %>
</p>

<!--<h2>Babies</h2>
<% @father.babies.each do | baby | %>
 
 <p>
  <b>Name:</b>
  <%= baby.name %>

<%= link_to 'Destroy Baby', [baby.father, baby],
               :confirm => 'Are you sure?',
               :method => :delete %>


</p>

<p>
  <b>Age:</b>
  <%= baby.age %>
</p>


 <% end %>
-->
<%= link_to 'Edit', edit_father_path(@father) %> |
<%= link_to 'Back', fathers_path %>
