<h1>Listing babies</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Surname</th>
    <th>Age</th>
    <th>Father</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @babies.each do |baby| %>
  <tr>
    <td><%= baby.name %></td>
    <td><%= baby.surname %></td>
    <td><%= baby.age %></td>
    <td><%= baby.father %></td>
    <td><%= link_to 'Show', baby %></td>
    <td><%= link_to 'Edit', edit_baby_path(baby) %></td>
    <td><%= link_to 'Destroy', baby, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Baby', new_baby_path %>
